@font-face {
    font-family: "Bigilla";
    font-weight: 400;
    src: url(../../fonts/Bigilla.otf);
}

@font-face {
    font-family: "Bigilla";
    font-weight: 700;
    src: url(../../fonts/Bigilla-Bold.otf);
}

@font-face {
    font-family: "Neue Montreal";
    font-weight: 300;
    src: url(../../fonts/NeueMontreal-Light.otf)
}

@font-face {
    font-family: "Neue Montreal";
    font-weight: 400;
    src: url(../../fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: "Neue Montreal";
    font-weight: 500;
    src: url(../../fonts/NeueMontreal-Medium.otf);
}

@font-face {
    font-family: "Neue Montreal";
    font-weight: 700;
    src: url(../../fonts/NeueMontreal-Bold.otf);
}