@use "../../assets/styles/abstract/variables" as *;
@use "../../assets/styles/mixins/media-query" as *;

.project {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // position: relative;
    aspect-ratio: 16/9;
    // object-fit: cover;
    // padding: 3rem 3rem 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    // max-height: 320px;
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        padding: 3rem 3rem 1.5rem;

        @include for-mobiles-down {
            padding: 0;
            padding-inline: 1rem;
        }
    }

    @include for-mobiles-down {
       padding: 2rem 1rem;
    }

    h3 {
        font-size: 2rem;
        letter-spacing: -1px;
        font-weight: 500;
        line-height: 1.1;

        @include for-tablets-down {
            font-size: 1.6rem;
        }

        @include for-mobiles-down {
            font-size: 1.4rem;
        }
    }

    h4 {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;

        @include for-tablets-down {
            display: none;
        }
    }

    &__tag {
        font-size: 0.7rem;
        text-transform: uppercase;
        border: 1px solid $secondary;
        padding: 0.5em 0.8em;
        border-radius: 1000px;

        @include for-mobiles-down {
            font-size: 0.5rem;
        }
    }
  }