@mixin flexbox($direction, $justify, $alignment) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $alignment;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-horizontally($containerWidth) {
    max-width: $containerWidth;
    width: 100%;
    margin-inline: auto;
}