@use "../../assets/styles/abstract/variables" as *;
@use "../../assets/styles/mixins/layout" as *;

.navbar {
    width: 100%;
    @include flexbox(row, space-between, center);
    position: relative;

    &__nav-links {
        display: flex;
        align-items: center;

        ul {
            @include flexbox(row, flex-start, center);
            column-gap: 1rem;
            list-style: none;

            li {
                color: $secondary;
                font-size: $fs-sm;
                text-transform: uppercase;
            }

            .btn-primary {
                font-size: $fs-sm;
                letter-spacing: 0;
                min-height: 2rem;
            }
        }
    }
    &__logo {
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}