@use "../../assets/styles/abstract/variables" as *;
@use "../../assets/styles/mixins/media-query" as *;

.portfolio__filters {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include for-mobiles-down {
        flex-wrap: wrap;
    }

    .btn-filter {
        font-size: 0.8rem;
        padding: 0.5em;
        min-height: 2em;
        min-width: 6em;
        width: unset;
        background-color: transparent;
        border: 1px solid $secondary;
        letter-spacing: 0;

        @include for-mobiles-down {
            font-size: 0.6rem;
        }

        &--active {
            background-color: #7EFFC9;
            color: $primary;
            border-color: #7EFFC9;
        }
    }
}