@use "../../assets/styles/abstract/variables" as *;
@use "../../assets/styles/mixins/media-query" as *;

.portfolio__filters {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include for-mobiles-down {
        flex-wrap: wrap;
    }

    .btn-filter {
        font-size: 0.8rem;
        padding: 0.5em;
        min-height: 2em;
        min-width: 6em;
        width: unset;
        background-color: transparent;
        color: $secondary;
        border: 1px solid $secondary;
        letter-spacing: 0;
        transition: all 0.3s ease;

        @include for-mobiles-down {
            font-size: 0.6rem;
        }

        &:hover,
        &:focus {
            background-color: $accent;
            border-color: $accent;
            color: $primary;
        }

        &--active {
            background-color: $accent;
            color: $primary;
            border-color: $accent;
        }
    }
}