@use "./assets/styles/abstract/variables" as *;
@use "./assets/styles/base/fonts" as *;
@use "./assets/styles/base/reset" as *;
@use "./assets/styles/plugins/locomotive-scroll" as *;
@use "./assets/styles/mixins/layout" as *;
@use "./assets/styles/components/buttons" as *;
@use "./assets/styles/mixins/media-query" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
  font-family: $primary-font;
  color: $secondary;
}

a, button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: $impact-font;
  text-transform: uppercase;
  font-size: 6rem;

  @include for-mobiles-down {
    font-size: 3rem;
  }
}

[data-scroll-container] {
  perspective: 1px;
}

.container {
  @include center-horizontally(1280px);

  @include for-sm-desktop {
    @include center-horizontally(1080px);
  }
  @include for-mobiles-down {
    @include center-horizontally(95%);
  }
}

/* Swiper */
.swiper-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  text-rendering: auto;
  margin-top: 5rem;
  border-radius: 10px;
  border: 1px solid #A7A7A7;
  padding: 1.5rem;
  
  &::after {
    font-size: 1.5rem !important;
    color: $secondary;
  }
}

.hero {
  @include flexbox(column, flex-start, center);
  row-gap: 1rem;
  min-height: calc(90vh - 1rem);
  margin-top: 5rem;
  padding-bottom: 4rem;

  h1 {
    display: flex;
    flex-direction: column;
    font-family: $impact-font;
    text-align: center;
    text-transform: uppercase;
    span {
      font-size: 6.25rem;
      font-weight: 700;
      line-height: 1.2;

      @include for-mobiles-down {
        font-size: 3.5rem;
      }
    }
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding-top: 4rem;

  }
  &__img {
    img {
      filter: grayscale(90%);
    }
  }

}

.about {
  padding-top: 6.25rem;
  &__header {
    padding-bottom: 5rem;
    p {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
    h2 {
      p {
        font-size: 7.5rem;
        font-family: $primary-font;
        letter-spacing: -4px;
        line-height: 0.85;
        font-weight: 400;
        text-transform: initial;

        @include for-mobiles-down {
          font-size: 3rem;
          letter-spacing: -1px;
        }

        .sketch {
          position: relative;
          display: inline;
          background-image: url(../public/sketch.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
  &__body {
    display: flex;

    @include for-mobiles-down {
      flex-direction: column-reverse;
      row-gap: 4rem;
    }
  }
  &__content {
    flex-grow: 1;
    max-width: 50%;
    padding-left: 10rem;

    @include for-mobiles-down {
      max-width: 100%;
      padding-left: 0;
    }

    p {
      padding-bottom: 2rem;
      font-size: 1rem;
      line-height: 1.8;
      text-align: justify;
      opacity: 0.9;
    }

    p:nth-child(2) {
      padding-bottom: 0;
    }

    .btn-secondary {
      background-color: $secondary;
      color: $primary;
      margin-top: 3rem;
    }
  }
  &__image {
    max-width: 460px;
    height: 693px;
    width: 100%;
    margin-left: auto;
    position: relative;
    top: -280px;
    z-index: -1;

    @include for-mobiles-down {
      max-width: unset;
      position: relative;
      height: auto;
      top: 0;
    }

    img {
      width: 100%;
    }

    .scroll-indicator {
      position: absolute;
      right: -150px;
      bottom: -50px;

      @include for-mobiles-down {
        width: 40%;
        right: 0px;
        bottom: -110px;
      }
    }
  }
}

.featured {
  padding-top: 6.25rem;
  padding-bottom: 12.5rem;
}

.portfolio {
  padding-bottom: 6.25rem;
  h2 {
    font-size: 6.5rem;
    font-family: $impact-font;
    text-transform: uppercase;

    @include for-mobiles-down {
      font-size: 3rem;
    }
  }
  &__projects {
    --min-column-size: 30rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
    gap: 2rem;
  }
}

.experiences {
  padding-block: 8rem;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 6.5rem;
    font-family: $impact-font;
    text-transform: uppercase;

    @include for-mobiles-down {
      font-size: 3rem;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #303535;
  padding-block: 6.25rem;

  .decor-el-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
  }
  
  h2 {
    text-align: center;
    padding-bottom: 2rem;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}